<div class="container">
    <div class="row" >
      <h3>Search By: </h3>
      <a routerLink="/gallery"><button class="button" [class.active]="filterBy==='boats'" > All Images</button></a>
      <a routerLink="/image-boat"><button class="button" [class.active]="filterBy==='boats'" > Boat</button></a>

      <a routerLink="/image-camping"><button class="button" [class.active]="filterBy==='boats'" > Camping</button></a>

      

      <a routerLink = "/image-library"> <button class="button" [class.active]="filterBy==='library'" >Library</button></a>
    
          
          <ul class="thumbnailsList">
    
             
      <li >
              <a [routerLink]=""></a> 
          
          <img src="assets/img/camping_01.jpeg" class ="tn" width ="200" height= "160"/>
          <img src="assets/img/camping_02.jpeg" class ="tn" width ="200" height= "160"/>
          <img src="assets/img/camping_03.jpeg" class ="tn" width ="200" height= "160"/>
          <img src="assets/img/camping_04.jpg" class ="tn" width ="200" height= "160"/>
          <img src="assets/img/camping_05.jpeg" class ="tn" width ="200" height= "160"/>
          <img src="assets/img/camping_06.jpg" class ="tn" width ="200" height= "160"/>
          <img src="assets/img/camping_07.jpeg" class ="tn" width ="200" height= "160"/>
    
      </li>
    </ul>
    </div>
    </div>
    