
<div class="container">
    <div class="row" >



<a routerLink="/gallery"><button class="button" [class.active]="filterBy==='boats'" > All Images</button></a>
      <a routerLink="/image-boat"><button class="button" [class.active]="filterBy==='boats'" > Boat</button></a>

      <a routerLink="/image-camping"><button class="button" [class.active]="filterBy==='boats'" > Camping</button></a>

      

      <a routerLink = "/image-library"> <button class="button" [class.active]="filterBy==='library'" >Library</button></a>
</div>
</div>